*{
  margin: 0px;
  padding: 0px;
}

.app{
  padding: 0.25rem 2rem 2rem;
  height: 100%;
  min-height: 100vh;
  background-color: #eee;
}

.header-container{
  padding: 30px 0px 30px 0px;
}

.header{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 25vh;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 4px 20px 3px rgba(77,77,77,0.7);
}

.body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 2rem 0 0;
  margin: 1.5rem;
  border-radius: 30px 30px;
  color: black;
  background-color: #fff;
  box-shadow: 0px 4px 20px 3px rgba(77,77,77,0.7);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 4px 20px 3px rgb(18 18 18 / 70%);
  transform: scale(1.03);
}

.card img {
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 10%;
}

